body {
    text-align: center;

}


#board {
    display: flex;
    width: 80vmin;
    flex-wrap: wrap;
    gap: 1vmin;
   
}

.square {
    width: 25vmin;
    height: 25vmin;
    border: 1px solid steelblue;

}

